form{
    border: 1px solid black;
    width: 180px;
    height: auto;
    background: gainsboro;
    font-size: 12pt; color: darkblue;
    text-align: center;
    font-family: Times, sans-serif;
    font-style: normal;
    position: absolute;
    top: 10%;
    left: 40%;
    right: 40%;
    margin: auto;
}

#title_header{
    font-family: Times, sans-serif;
    text-align: center;
    font-size: 14pt; color: black;
    margin-top: 10px;
}

#foother {
    border: 1px solid #6c6e8b;
    font-size: 1.1em;
    text-align: center;
    color: #6c6e8b;
    height: 30px;
}






